@page
@model RegisterModel
@{
    ViewData["Title"] = "التسجيل";

}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class=" ">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>انشئ حساب جديد</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" aria-required="true" />
                <label class="mb-2" asp-for="Input.FullName"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div> 
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" aria-required="true" />
                <label asp-for="Input.UserName"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div> 

            <div class="form-floating mb-3">
                <input asp-for="Input.Gender" class="form-control" aria-required="true" />
                <label asp-for="Input.Gender"></label>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="date" asp-for="Input.DateOfBirth" class="form-control" aria-required="true" />
                <label asp-for="Input.DateOfBirth"></label>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.NationalId" class="form-control" aria-required="true" />
                <label asp-for="Input.NationalId"></label>
                <span asp-validation-for="Input.NationalId" class="text-danger"></span>
            </div> 


            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"  />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"  />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mb-3">سجل الان</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
